<!doctype html>
<title>Welcome to AWS RDS S3 test port</title>

<p>test get api:</p>
<ul>
  <li><a href="/get_images_list"  target="_blank">Get files list from RDS data</a></li>
  <li><a href="/test_rdb_connect"  target="_blank">Test RDS connection</a></li>
</ul>

<p>Select a file to upload</p>
<form method="post" action="/file_upload" enctype="multipart/form-data"  target="_blank">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>